.print{
    display: none;
}

@media print {
    
    body{
        height: auto !important;
        font-size: 14px;
        color: #000;
    }
    .vender{
        display: none;
        color: #000;
    }
    
    .print{
        width: 100% !important;
        height: 100vh;
        background-color: rgba(14, 13, 13, 0.315);
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        /* margin-left: 10px; */
        display: grid; 
        /* place-items: center;  */
        text-align: left !important;
        margin-left: 25px !important;
        color: #000;
    }
    
    .modal_print{
        width: 300px;
        height: auto;
        background-color: white;
        display: grid;
        position: relative;
        color: #000;
    }
    
    .separador{
        display: flex;
        /*justify-content: space-around; */
    }
    
    .left{
        /* text-align: left !important;*/
        margin-left: 3px !important;
    }
    
    .footer{
        font-size: 12px;
    }
    
    }