.card-resultados{
    width: 150px;
    height: 150px;
    background-color: #34495e;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-resultados .number{
    font-size: 40px;
}

.card-resultados .time{
    font-size: 20px;
}