.reportes .container{
    display: flex;
    flex-direction: column;
}

.reportes .table{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.ticket-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reportes .form-control{
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

@media (max-width: 820px){
    .reportes .table {
        padding: 30px;
       
    }
}