.crear .container{
    display: flex;
    justify-content: center;
}

.crear .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.crear .input{
    padding: 10px;
}

.crear .list{
    width: 400px;
}

.crear .btn{
    cursor: pointer;
}

.crear .list-item{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.crear .delete, .crear .update{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    margin: 0;
}

.crear .img-update, .crear .img-borrar{
    width: 40px;
}   


.crear .delete:hover, .crear .update:hover{
    background-color: aquamarine;
}

.select{
    background-color: #171826 !important;
}

.modal-card {
    width: 300px;
    display: grid;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #34495e;
  }

.modal-card .form-control{
    margin: 10px auto;
    width: 200px;
    background-color: transparent;
    /* border: none; */
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
}

.modal-btn {
    cursor: pointer;
    width: 100px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin: 0 2px;
}