.crear .container{
    display: flex;
    justify-content: center;
}

.crear .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.crear .input{
    padding: 10px;
}

.crear .list{
    width: 400px;
}

.crear .btn{
    cursor: pointer;
}

.crear .list-item{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.crear .delete{
    cursor: pointer;
}

.modal-card {
    width: 300px;
    display: grid;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #34495e;
  }

.modal-btn {
    cursor: pointer;
    width: 100px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin: 0 2px;
}