.card{
    background-color: #2c3e50;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    font-size: 30px;
}

.card input{
    width: 100%;
}

.card .input{
    display: flex;
}

.card button{
    width: 100%;
    border-radius: 0 0 8px 8px;
    border: none;
    cursor: pointer;
}