.vender .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 50px;
}

h2{
    margin: 40px 0;
}

.table-selection{
    width: 550px;
    height: 550px;
    background-color: #34495e;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-selection{
    width: 550px;
    height: 550px;
    background-color: #34495e;
    border-radius: 25px;
    padding: 10px;  
    position: relative;
    overflow-y: hidden;  
}

.form-selection p{
    position: absolute;
    bottom: 100px;
    font-size: 30px;
}

.form-selection .btn-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.table-selected ul{
   margin: 0 auto;
   padding: 0;
}

.table-selected li{
    padding: 10px;
    background-color: #2c3e50;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.form-selection .delete{
    cursor: pointer;
}

.form-selection button{
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    background-color: #3867d6;
    color: white;
    position: absolute;
    padding-bottom: 20px;
    bottom: 5px;
    left: 0;
} 

.vender .aciertos{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    bottom: 60px;
    height: 100px;
}

.vender .acierto{
    font-size: 16px;
    font-weight: 400;
}

.vender .modal-error{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000000c7;
    position: absolute;
    top: 0;
    z-index: 1;
}

.vender .precio{
    position: absolute;
    bottom: 130px;

}

.modal-error .container{
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    padding: 30px;
    border-radius: 25px;
}

.modal-error h3{
    font-size: 30px;
}

.modal-error .btn{
    cursor: pointer;
}

.vender .ticket{
    background-color: white;
    height: 200px;
    margin-bottom: 20px;
    color: #000;
    display: flex;
    text-align: start;
}

.vender .ul{
    position: relative;
    right: 20px;
    top: -10px;
}

.vender .li{
    list-style: none;
}