.login .container{
   display: grid;
   place-items: center;
}

.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.banner-img{
    border-radius: 25px;
}

.login .picture{
    /* width: 60%;
    height: 100vh;
    background-color:rgb(67, 69, 184);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; */
   
}

.login .picture-img{
    width: 100%;
    max-width: 130px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.login .container{
    display: flex;
    width: 100%;
    justify-items: center;
}

.login .container-login{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 0 50px;
}

.login .form{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    background-color: #1b1e2c;
    padding: 30px;
    border-radius: 25px;
    text-align: left;
    color: #ffffffe6;
}

.form h2{
    text-align: center;
}

.login .input{
    padding: 10px;
    width: 250px;
    border-radius: 25px;
    border: none;
    background-color: #222532;
    color: #ffffffe6;
}

.login .invalid{
    color: tomato;
}

.login .btn{
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding: 8px;
    background-color: #f39c12;
    font-weight: 700;
    font-size: 14px;
}

.modal .container{
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    padding: 30px;
    border-radius: 25px;
}

.modal .btn{
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

@media (max-width: 850px){

    .login .container-login{
        gap: 0 0;
        
    }

    .login .banner-img{
        /* height: 100vh; */
        position: relative;
        width: 100%;
    }
}

@media (max-width: 850px){

    .login .container-login{
        margin-top: 200px;        
    }

    .login .banner-img{
        z-index: -1;
        position: absolute;
        width: 330px;
        top: -50px;
        height: auto;
    }
}